MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/amp-client/frameworks/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/amp-client/frameworks/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/amp-client/frameworks/CommonCrypto/macosx.modulemap
