.DS_Store
amp-client.xcodeproj/xcuserdata
amp-client-demo.xcodeproj/xcuserdata
workspace.xcworkspace/xcuserdata
markdown/Markdown.xcodeproj/project.xcworkspace/xcuserdata
markdown/Markdown.xcodeproj/xcuserdata
DEjson/DEjson.xcodeproj/xcuserdata
amp-client-demo/amp-client-demo.xcodeproj/project.xcworkspace/xcuserdata
amp-client/docs/docs
amp-client/build
amp-client-demo/amp-client-demo.xcodeproj/xcuserdata
amp-client/amp-client.xcodeproj/xcuserdata
HashExtensions/HashExtensions.xcodeproj/project.xcworkspace/xcuserdata
HashExtensions/HashExtensions.xcodeproj/xcuserdata
DEjson/DEjson.xcodeproj/project.xcworkspace/xcuserdata
amp-client-tests/ios/amp-tests.xcworkspace/xcuserdata
amp-client-tests/ios/Pods
amp-client-tests/osx/amp-tests.xcodeproj/xcuserdata
amp-client-tests/osx/amp-tests.xcworkspace/xcuserdata
amp-client-tests/osx/Pods
amp-client/Pods
amp-client-tests/ios/amp-tests.xcodeproj/project.xcworkspace/xcuserdata
html5parser/html5parser.xcodeproj/project.xcworkspace/xcuserdata
html5parser/html5parser.xcodeproj/xcuserdata
amp-client/amp-client.xcodeproj/project.xcworkspace/xcuserdata
tarpit/tarpit.xcodeproj/xcuserdata
tarpit/tarpit.xcodeproj/project.xcworkspace/xcuserdata
mockingbird/Pods
mockingbird/mockingbird.xcodeproj/xcuserdata
mockingbird/mockingbird.xcodeproj/project.xcworkspace/xcuserdata
mockingbird/mockingbird.xcworkspace/xcuserdata
.idea
amp-client-tests/osx/ion-tests.xcodeproj/xcuserdata
amp-client-tests/osx/ion-tests.xcworkspace/xcuserdata
